#title, #content {
    width: 97%;
    min-height: 30px;
    margin: 9px;
    font-family: sans-serif;
}
#content {
    height: 200px;
}
#title {
    font-size: 30px;
}
#image {
    margin-top: 10px;
    margin-bottom: 10px;
}
#img-show {
    border: 1px solid black;
}