<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiposter</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/vue.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
</head>
<body>
    <div id="app">
        <input ref="titleInput" v-model="title" @click="setEmojiInputField('titleInput')" @input="setEmojiInputField('titleInput')" id="title" type="text" />
        <br>
        <button @click="toggleEmojiPicker">Emoji</button>
        <emoji-picker ref="emojiPicker" v-show="showEmojiPicker"></emoji-picker>
        <br>
        <textarea ref="contentInput" v-model="content" @click="setEmojiInputField('contentInput')" @input="setEmojiInputField('contentInput')" id="content"></textarea>
        <br>
        <input @change="setImage" id="image" type="file" />
        <br>
        <button @click="postContent" :disabled="posting" id="post-button">Post</button>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>