<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiposter</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div id="app">
        <input v-model="title" id="title" type="text" />
        <br>
        <textarea v-model="content" id="content"></textarea>
        <br>
        <input @change="setImage" id="image" type="file" />
        <br>
        <button @click="postContent" :disabled="posting" id="post-button">Post</button>
    </div>
    <script type="module" src="/js/index.js"></script>
</body>
</html>